body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5d5d5d;
  color: #4f4f4f;
}

main {
  background-color: #b0b0b0;
  margin-top: 7vh;
  padding: 2rem 18%;
}

.about_section {
  display: flex;
}

.about_section img {
  width: 15.5rem;
  border-radius: 50%;
  padding: 1rem;
}

.about_section section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

.about_section h2 {
  font-size: 2rem;
}

.about_section p {
  font-size: 1.1rem;
}

.titles {
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 2.5rem;
}

.parenthesis {
  margin-left: 3rem;
  font-size: .8rem;
}

.skills_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 17rem;
  font-size: 1.25rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 20rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: gray;
  height: .5rem;
  border-radius: .25rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  margin-top: -0.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.projects_section {
  padding: 2rem 10rem;
}

.project_image {
  width: 28rem;
  border-radius: 10px;
}

.preview {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.preview_reves {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.info_reves {
  position: absolute;
  bottom: -2rem;
  left: 8rem;
  background-color: #4f4f4f;
  color: antiquewhite;
  width: 20rem;
  padding: 0.2rem .6rem 0.6rem 0.6rem;
  border-radius: .5rem;
}

.project_info {
  position: absolute;
  bottom: -2rem;
  right: 8rem;
  color: antiquewhite;
  background-color: #4f4f4f;
  width: 20rem;
  padding: 0.2rem .6rem 0.6rem 0.6rem;
  border-radius: .5rem;
}

.projects_section a {
  padding: .5rem 0rem;
  color: rgb(255, 218, 169);
}

.projects_section a:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    margin: 0;
    padding: 4rem .5rem 0 .5rem;
  }

  .about_section {
    height: 45vh;
    display: flex;
    flex-direction: column;
  }

  .about_section section {
    width: 98%;
  }

  .about_section h2 {
    font-size: 1.5rem;
  }

  .about_section p {
    font-size: .9rem;
  }

  .skills_section {
    height: 20vh;
  }

  .titles {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .parenthesis {
    margin-left: 1rem;
  }

  input[type="range"] {
    width: 10rem;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: .4rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: .8rem;
    height: .8rem;
  }

  .projects_section {
    padding: .5rem;
  }

  .projects_section img {
    width: 100%;
  }

  .preview {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .project_info {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
  }

  .info_reves {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .preview_reves {
    display: flex;
    flex-direction: column-reverse;
  }
}